.wrapper,.phone{
    background: url('./bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
.slider{
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    opacity: 0.7;
    transition: opacity 0.2s linear;
}
.slider:hover{
  opacity: 1;
  cursor: pointer;
}
.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: radial-gradient(rgb(242, 18, 242),rgb(211, 43, 43));
}

/* For Frirefox web browser */
.slider::-moz-range-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: radial-gradient(rgb(242, 18, 242),rgb(211, 43, 43));
}
/* CSS for label */
#label{
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    pointer-events: none;
}